.board-details {
    display: flex;
    flex-direction: column;

    & .board-details-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 15px;
        gap: 0.25rem;
        backdrop-filter: blur(6px);

        & .board-title {
            display: flex;
            align-items: center;
            height: 32px;
            min-width: 0;
            margin: 0;
            padding: 0 0.75rem;
            font-size: 16px;
            font-weight: 700;
            color: inherit;
            border-radius: 0.25rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &:hover {
                background-color: rgb(0, 0, 0, 0.16);
            }

            &:focus {
                background-color: #fff;
                box-shadow: inset 0 0 0 1px #4688EC;
            }
        }

        & h1.board-title {
            cursor: pointer;
            border: 1px solid transparent;
            box-shadow: inset 0 0 0 1px transparent;
        }

        & input.board-title {
            color: var(--dynamic-text);
        }

        & .btn-group {
            display: flex;
            flex-wrap: nowrap;
            align-items: flex-start;
            min-height: 32px;
            margin-left: auto;
            gap: 4px;

            & .avatar-btn-group {
                display: flex;
                align-items: center;
                margin-inline-end: 4px;

                & .avatar-btn {
                    width: 28px;
                    height: 28px;
                    margin-inline-end: -4px;
                    border-radius: 50%;

                    & span {
                        width: 28px;
                        height: 28px;
                        background-size: cover;
                        background-position: center center;
                        background-repeat: no-repeat;
                        border-radius: 50%;

                        &:hover {
                            background-color: #DDDEE1;
                            background-blend-mode: multiply;

                        }
                    }
                }
            }

            .action-dynamic-btn {
                padding: 6px;
                color: inherit;
            }

            .btn-highlighted {
                display: flex;
                align-items: center;
                gap: 0.5rem;
            }
        }
    }
}