.date-picker {
    overflow-y: hidden;

    & .date-editor {
        overflow-y: auto;

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar {
            width: 0.5rem;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #e6e6e6;
            border-radius: 3px;
            border: 1px solid transparent;
        }

        &::-webkit-scrollbar-button {
            display: none;
        }
    }

    /* & .calendar-container {
        display: flex;
    } */

    & .date-field-container,
    .action-btns {
        padding: 0.75rem;
    }

    & .date-field-container {
        &>fieldset {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            border: 0;
        }
    }

    & .date-input-with-toggle {
        display: flex;
        align-items: center;
        gap: 1rem;

        &>.date-input {
            flex: unset;
            width: 90px;
            margin-inline-end: 0.5rem;
            padding: 0.375rem;

            border: none;
            border-radius: 0.25rem;
            outline: none;
            box-shadow: inset 0 0 0 1px #8C8F97;

            &:focus {
                box-shadow: inset 0 0 0 2px #4688EC;
            }

            &:disabled {
                background-color: #17171708;
                color: #080F214A;
                box-shadow: none;
                cursor: not-allowed;
                user-select: none;
            }
        }
    }

    .calendar {
        margin-block-start: 1rem;
    }

    & .divider {
        height: 1px;
        margin-inline: 0.75rem;
        background-color: #080F214A;
    }

    & .date-checkbox {
        &>input {
            position: absolute;
            top: 0;
            left: 0;

            width: 1px;
            height: 1px;
            margin: 0;
            padding: 0;

            border: 0;
            clip: rect(1px, 1px, 1px, 1px);
            overflow: hidden;
            pointer-events: none;
        }
    }

    & .check-icon {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 16px;
        height: 16px;
        margin-inline-start: 0.125rem;

        white-space: nowrap;

        border-radius: 2px;

        transition: all 0.2s ease-in-out;
        overflow: hidden;

        &.checked {
            background-color: #1868DB;
            box-shadow: inset 0 0 0 1px #1868DB;
        }

        &.unchecked {
            background-color: #ffffff;
            box-shadow: inset 0 0 0 1px #8C8F97;
        }
    }

    & .action-btns {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}