.member-picker {
    overflow-y: hidden;

    & .member-editor {
        display: flex;
        flex-direction: column;
        padding: 0 0.75rem 0.75rem;
        overflow-y: auto;

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar {
            width: 0.5rem;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #e6e6e6;
            border-radius: 3px;
            border: 1px solid transparent;
        }

        &::-webkit-scrollbar-button {
            display: none;
        }
    }

    & .member-preview {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        width: 100%;
        height: 40px;
        padding: 0.25rem 0.5rem 0.25rem 0.25rem;
        background-color: transparent;

        &:hover {
            background-color: var(--background-neutral);
        }
    }

    & .member-avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    & .member-name {
        flex: 1;
        margin-inline-end: 0.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 0.875rem;
        font-weight: 400;
    }
}