.task-edit {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1080px;
    height: 100vh;
    max-height: calc(100vh - 128px);

    border: 0;
    border-radius: 0.75rem;
    padding: 0;
    font-size: 0.875rem;

    overflow: hidden;

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
    }

    & .task-flex-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        max-width: 100%;
    }

    & .task-grid-container {
        display: grid;
        grid-template-columns: 32px minmax(0, 1fr);
        column-gap: 0.25rem;
    }

    & .task-edit-header {
        position: relative;

        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex: 0 0;
        min-height: 56px;
        padding: 1rem 1.25rem;

        border-bottom: 1px solid #0b120e24;

        overflow: hidden;

        & .group-name {
            font-weight: 500;
            padding: 0.25rem 0.5rem;
            border-radius: 3px;
            background-color: var(--dynamic-button-primary);
        }

        & .task-header-actions {
            display: flex;
            flex: 0 0 auto;
            gap: 0.5rem;
        }

        & .task-header-btn {
            border-radius: 50%;
            background-color: #fff;

            &:hover {
                background-color: #F0F1F2;
            }
        }
    }

    & .content-wrapper {
        height: calc(100% - 56px);
        display: flex;
        overflow-y: hidden;

        &>main {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 0fr 1fr;
            width: 100%;
            overflow-y: auto;
        }

        & .task-title {
            grid-column: 1;
            grid-row: 1;
            margin-block-end: 0.5rem;
            padding: 1.5rem 1.25rem 1rem;

            & .task-icon-check {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;

                & span {
                    display: flex;
                    align-items: center;
                }
            }

            & .editable-title-container {
                position: relative;
                height: auto;
                width: 100%;
            }

            & .editable-title {
                width: 100%;
                font-size: 1.25rem;
                font-weight: 600;
                line-height: 1.428571;
                padding: 0;
                margin: 0;
            }

            & .title-display {
                border: 1px solid transparent;
                box-shadow: inset 0 0 0 1px transparent;
            }

            & .title-edit {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                padding-inline-start: 0.375rem;
                margin-inline-start: -0.375rem;
                padding-block: 0.375rem;
                margin-block: -0.375rem;
                resize: none;
                overflow: hidden;
            }
        }

        & .task-content {
            grid-column: 1;
            grid-row: 2;
            width: 100%;
            min-width: 460px;
            padding: 0 2.5rem 1rem 1.25rem;

            & .task-actions-btns {
                height: 2rem;
                overflow: hidden;
                display: flex;
                flex-wrap: wrap;
                gap: 0.5rem;
                margin: -0.25rem;
                padding: 0.25rem;
                box-sizing: content-box;
            }

            & .action-btn {
                border: 1px solid #0b120e24;
                background-color: #fff;
                color: var(--text-subtle);

                &:hover {
                    background-color: #0515240f;
                    border: 1px solid #0b120e24
                }

                & svg {
                    margin-inline-end: 0.25rem;
                }
            }

            & .task-params {
                display: flex;
                flex-wrap: wrap;
                margin-block: 2rem;
                margin-inline-start: 2rem;
                padding-inline-start: 0.25rem;
                gap: 1rem;
            }

            & .params-heading {
                margin-bottom: 0.25rem;
                color: var(--text-subtle);
                font-size: 12px;
                font-weight: 600;
                line-height: 20px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            & .btn-neutral {

                & svg {
                    margin-inline: 0.25rem;
                }
            }

            & .due-badge {
                margin: auto 0 auto 0.5rem;
                padding: 0 0.25rem;
                border-radius: 0.125rem;
                font-size: 12px;
                line-height: 16px;

                &.badge-due-soon {
                    background-color: var(--background-warning-bold);
                }

                &.badge-overdue {
                    background-color: var(--background-accent-red);
                    color: var(--text-accent-red);
                }

                &.badge-closed {
                    background-color: var(--background-success-bold);
                    color: #ffffff;
                }
            }
        }

        & .heading {
            display: flex;
            align-self: center;
            font-size: 0.875rem;
            font-weight: 600;
            margin-block-start: 0;
            margin-block-end: 0.75rem;
        }

        & .task-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-block-end: 0.75rem;
        }

        & .labels-container {
            display: flex;
            flex-wrap: wrap;
            gap: 0.25rem;

            & .label-add-btn {
                padding: 0.25rem;
            }
        }

        & .editable {
            width: 100%;
            height: 64px;
            align-items: flex-start;
            justify-content: flex-start;
            background-color: #fff;
            border: 1px solid #8c8f97;
            color: var(--text-subtle);

            &:hover {
                background-color: #f8f8f8;
            }
        }

        & .edit-textarea {
            width: 100%;
            height: auto;
            min-height: 200px;
            border-radius: 0.25rem;
            resize: none;
            overflow-y: hidden;
        }

        & .task-description-container {
            margin-block-start: 2rem;
        }

        & .edit-description-actions {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            margin-block-start: 0.5rem;

            button {
                padding: 0.5rem 0.75rem;
            }
        }

        & .editable,
        .comment,
        .description,
        .edit-textarea {
            padding: 0.75rem;
            line-height: 1.714;
        }

        & aside {
            width: 460px;
            flex: 1 0 auto;
            overflow-x: hidden;
            overflow-y: auto;
            border-left: 1px solid #0b120e24;
            background-color: #f8f8f8;
            padding: 1rem 1.25rem;

            & .edit-comment-form {
                grid-column: span 2;
                margin-block-end: 1rem;
            }

            & .comment {
                height: 100%;
                border: none;
                border-radius: 0.5rem;
                box-shadow: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f;
                cursor: pointer;

                &.add-comment {
                    height: 36px;
                    grid-column: span 2;
                    padding: 0.375rem 0.75rem;
                    margin-block-end: 1rem;
                    color: #6B6E76;
                }

                &:hover {
                    background-color: #fff;
                }
            }

            & .fallback-avatar {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                color: #fff;
                background-color: #6495ed;
                margin-block-start: 0.5rem;
            }

            & .comment-info {
                display: flex;
                align-items: center;
                gap: 0.5rem;

                & .comment-author {
                    font-weight: 600;
                }

                & .comment-date {
                    color: var(--link);
                    font-size: 0.75rem;
                    text-decoration: underline;
                }
            }

            & .comment-btn {
                padding-inline: 0.5rem;
                color: var(--text-subtle);
                font-size: 0.75rem;
                text-decoration: underline;
            }
        }
    }
}