.app-header {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0.5rem;
    color: var(--dynamic-text);
    border-bottom: 1px solid rgba(23, 43, 77, 0.16);

    &>nav {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;

        & .logo {
            display: flex;
            align-items: center;
            gap: 0.25rem;
            color: inherit;
            padding: 0.25rem 0.5rem;
            margin-inline-end: 2em;
            border: none;
            border-radius: 0.25rem;
            font-size: 1.25rem;
            font-weight: 700;
            line-height: 1;
            text-decoration: none;

            &:hover {
                text-decoration: none;
                background-color: rgb(0, 0, 0, 0.16);

                & svg {
                    animation: spin 0.8s ease-in-out 1 forwards;
                }
            }
        }

        & .auth-actions {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            &>a {
                align-items: center;
                display: flex;
                font-size: 1.25rem;
                height: 48px;
                padding: 0 1.5rem;
                text-decoration: none;
            }


            & .login-link {
                background-color: transparent;
                color: var(--text);
            }

            & .signup-link {
                color: #fff;
                background-color: var(--button-primary);

                &:hover {
                    background-color: var(--button-primary-hovered);
                }
            }
        }

        & .search-input {
            font-size: 0.875rem;
            border: 1px solid var(--header-input-border);
            background-color: rgba(255, 255, 255, 0.2);

            &::placeholder {
                color: var(--header-font-color);
                opacity: 0.5;
            }

            &:focus {
                background-color: #fff;
                border: 1px solid #388BFF;
                color: var(--focus-text-color);

                &::placeholder {
                    color: var(--focus-text-color);
                    opacity: 0.5;
                }
            }
        }

        & .create-btn {
            font-size: 0.875rem;

            &:hover {
                background-color: rgb(0, 0, 0, 0.32);
            }
        }

        & .actions {
            display: flex;
            justify-content: center;
            gap: 0.5rem;
            flex-grow: 1;

            /* TODO: implement search input for small screens */
            &>input {
                @media (max-width: 1023px) {
                    display: none;
                }
            }
        }

        & .btn-group {
            display: flex;
            align-items: center;
            gap: 0.25rem;
        }

        & .avatar-icon {
            width: 24px;
            height: 24px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            border-radius: 50%;

            &:hover {
                background-color: #DDDEE1;
                background-blend-mode: multiply;
            }
        }
    }

    &.home-header {
        background-color: #fff;

        &:hover {
            box-shadow: rgba(9, 30, 66, 0.15) 0px 0.5rem 1rem 0px;
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}