* {
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
    color: var(--text);
    line-height: 1.428571;
}

body {
    margin: 0;
    font-size: 0.875rem;
    /* 14px */
}

body,
input,
select,
textarea,
button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.6em;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
    color: var(--link);

    &:hover {
        text-decoration: underline;
        text-decoration-color: var(--link);
    }
}

ul {
    list-style-type: none;
    padding: 0;
}

input {
    max-width: 100%;
}

img,
embed,
video,
object {
    max-width: 100%;
    display: block;
}

button,
.link-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: 32px;
    padding: 0.375rem 0.75rem;

    color: var(--ds-text);
    background-color: var(--ds-background-neutralf);
    border: none;
    box-shadow: none;
    border-radius: 0.25rem;

    font-weight: 500;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;

    transition-property: background-color, border-color, box-shadow;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.icon-btn {
    width: 32px;
    padding: 0;
}

.dynamic-btn {
    background-color: var(--dynamic-button);
    color: var(--dynamic-text);

    &:hover {
        background-color: var(--dynamic-button-hovered);
    }
}

.btn-primary {
    background-color: var(--button-primary);
    color: var(--button-primary-text);

    &:hover {
        background-color: var(--button-primary-hovered);
    }
}

.btn-secondary {
    background-color: var(--dynamic-button-primary);
    color: var(--dynamic-button-primary-text);

    &:hover {
        background-color: var(--dynamic-button-primary-hovered);
    }
}

.btn-highlighted {
    background-color: var(--dynamic-button-highlighted);
    color: var(--dynamic-button-highlighted-text);

    &:hover {
        background-color: var(--dynamic-button-highlighted-hovered);
    }
}

.btn-neutral {
    background-color: var(--background-neutral);
    color: var(--ds-text);

    &:hover {
        background-color: var(--background-neutral-hovered);
    }
}

.btn-danger {
    background-color: var(--background-danger-bold);
    color: #fff;

    &:hover {
        background-color: var(--background-danger-bold-hovered);
    }
}

input,
textarea {
    display: flex;
    flex: 1 1 auto;
    height: 32px;
    width: 100%;
    max-width: 780px;
    padding: 0px 12px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #8C8F97;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.2);

    &:hover {
        background-color: rgba(255, 255, 255, 0.4);
    }

    &:focus {
        background-color: #fff;
        border: 1px solid #388BFF;
        box-shadow: inset 0 0 0 1px #388BFF;
    }
}