@import "setup/var";
@import "setup/typography";

@import "basics/helpers";
@import "basics/layout";
@import "basics/base";
/* @import "basics/forms"; */

@import "RootCmp";

@import "pages/HomePage";
@import "pages/LoginSignup";
@import "pages/board/BoardIndex";
@import "pages/board/BoardDetails";
@import "pages/task/TaskEdit";

@import "cmps/AppHeader";
@import "cmps/UserMsg";
@import "cmps/Loader";
@import "cmps/ItemCreator";
@import "cmps/ImgUploader";

@import "cmps/board/BoardList";
@import "cmps/board/BoardPreview";
@import "cmps/group/GroupList";
@import "cmps/group/GroupPreview";
@import "cmps/task/TaskList";
@import "cmps/task/TaskPreview";

@import "cmps/task/picker/DynamicPicker";
@import "cmps/task/picker/BoardPicker";
@import "cmps/task/picker/GroupPicker";
@import "cmps/task/picker/LabelPicker";
@import "cmps/task/picker/DatePicker";
@import "cmps/task/picker/MemberPicker";
@import "cmps/task/picker/CoverPicker";

/* @import "cmps/board/BoardGroup";
@import "cmps/board/BoardPreview";
@import "cmps/board/BoardFilter"; */